Repository digitalmethodsinitiative/4cat, pull requests merged in 2023-01, with the labels that each got.

#303 Video downloader
  backend/abstract/preset.py
  backend/abstract/processor.py
  common/lib/config_definition.py
  common/lib/dataset.py
  common/lib/helpers.py
  datasources/tiktok-urls/search_tiktok-urls.py
  docker/Dockerfile
  helper-scripts/migrate/migrate-1.29-1.30.py
  processors/filtering/random_filter.py
  processors/networks/hash_similarity_network.py
  processors/presets/video-scene-timelines.py
  processors/visualisation/download_images.py
  processors/visualisation/download_videos.py
  processors/visualisation/video_frames.py
  processors/visualisation/video_hasher.py
  processors/visualisation/video_scene_frames.py
  processors/visualisation/video_scene_identifier.py
  processors/visualisation/video_timelines.py
  setup.py
  webtool/templates/components/processor-option.html
Labels: enhancement, big, processors, dependencies

#308 Opt-in phone home when first running 4CAT
  backend/database.sql
  common/lib/config_definition.py
  webtool/static/css/stylesheet.css
  webtool/templates/account/first-run.html
  webtool/views/views_user.py
Labels: enhancement, deployment

#301 Processor for merging datasets
  backend/abstract/processor.py
  common/lib/dataset.py
  processors/conversion/merge_datasets.py
  webtool/static/css/dataset-page.css
  webtool/templates/components/processor-option.html
Labels: enhancement, processors
